{% extends 'meetups/base/base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
{% endblock %}
{% block title %} All Meetups {% endblock %}

{% block main_heading %}
We got great meetups coming up!
{% endblock %}

{% block sub_heading %}
<p>Find the one that best suits your needs!</p>
{% endblock %}

{% block body %}
<section>
  <h2>Upcoming Meetups</h2>
  <ol>
    {% for meetup in meetups %}
      {% include 'meetups/includes/meetup-item.html' with title=meetup.title date=meetup.date location=meetup.location image=meetup.image.url %}
    {% endfor %}
  </ol>
</section>
{% endblock %}